<div class="row2">
  <form [formGroup]="formGroup">
    <ng-container *ngFor="let field of formFields">
      <mat-form-field
        appearance="fill"
        class="full-width"
        *ngIf="!customFormTemplate || field.key !== 'cards'"
      >
        <mat-label>{{ field.label }}</mat-label>
        <input matInput [formControlName]="field.key" />
      </mat-form-field>
    </ng-container>

    <ng-container *ngIf="customFormTemplate">
      <ng-container
        *ngTemplateOutlet="customFormTemplate; context: { form: formGroup }"
      ></ng-container>
    </ng-container>
  </form>
</div>
